<header id="home-header">
	<div class="container">
		<div class="navbar">
			<div class="nav pull-left" id="logo">
				<!--<%= link_to image_tag("logoTest.png", alt: "Home"), "#" %>-->
			</div>
			<div id="nav-table">
				<ul class="nav pull-right">
					<li><%=link_to "Produto", produto_path %></li>
					<li><%=link_to "Sobre", sobre_path %></li>
					<li class="active">
						<%=link_to "Contato", contacts_path %>
					</li>				
				</ul>
			</div>
		</div>
	</div>
	<header id ="home-jumbo">
			<div class= "container">
				<h1>Viveiros do futuro</h1><br/>
				<p>
					O futuro chegou e é fantástico.<br />
					Monitore seu viveiro em tempo real de onde quer que você esteja.  
				</p><br/>
				<button type="button" class="btn btn-large btn-primary">
				<%=link_to "Veja o nosso produto", produto_path%>
				<span class="glyphicon glyphicon-forward"></span>				
				</button>
			</div>
	</header>	
</header>
<div class= "container">
	<div class = "container" id="steps">
		<div class ="row">
			<h1>  Diminua os riscos e aumente sua produção</h1>
			<p> Monitorando em tempo real informações chaves da água, a Vivarium permite
				 que você <span class="highlight">produza mais</span> e com muito
				 <span class="highlight">mais segurança</span></p>
		</div>
		<div class= "row">
			<div class= "span4">
				<%= image_tag "IconSpeed.png", class: "img-circle" %>
				<h1> Esteja Sempre Informado </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconGlove.png", class: "img-circle" %>
				<h1> Combata os riscos </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconReport.png", class: "img-circle" %>
				<h1> Aumente sua produção </h1>
			</div>
		</div>
	</div>
</div>


