<% provide(:title, 'Produto') %>
<%= render 'layouts/header' %>
<div class="container" id="spacer">
	</br>
</div>
<div class= "container">
	<div class = "container" id="steps">
		<div class ="row">
			<h1> Diminuímos os riscos para que você possa produzir mais.</h1>
			<p> Monitorando em tempo real informações chaves da água, a Vivarium permite
				 que você <span class="highlight">produza mais</span> e com muito
				 <span class="highlight">mais segurança</span></p>
		</div>
		<div class= "row">
			<div class= "span4">
				<%= image_tag "IconSpeed.png", class: "img-circle" %>
				<h1> Esteja Sempre Informado </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconGlove.png", class: "img-circle" %>
				<h1> Combata os riscos </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconReport.png", class: "img-circle" %>
				<h1> Aumente sua produção </h1>
			</div>
		</div>
	</div>
</div>
<div class="feature-shadow">
	<div class="container">
		<div class = "row feature">
			<div class = "span6">
				<h1> Monitoramento em tempo real <span class="muted"> para que você Esteja Sempre Informado </span> 
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis leo eu scelerisque congue. Phasellus risus risus, eleifend quis neque vulputate, sagittis adipiscing ante. Etiam aliquam, dolor in viverra pulvinar, diam risus suscipit nibh, ut condimentum neque lectus sed arcu.</p>
			</div>
			<div class = "span6">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class = "row feature">
		<div class = "span6 image">
			<%= image_tag "peixes-mortos-china-rts.JPG", class: "img-square" %>
		</div>
		<div class = "span6 feature-text">
			<h1> Fique sempre protegido. <span class="muted"> Combata os riscos </span> </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis leo eu scelerisque congue. Phasellus risus risus, eleifend quis neque vulputate, sagittis adipiscing ante. Etiam aliquam, dolor in viverra pulvinar, diam risus suscipit nibh, ut condimentum neque lectus sed arcu.</p>
		</div>
	</div>
</div>
<div class="feature-shadow">
	<div class="container">
		<div class = "row feature">
			<div class = "span6">
				<h1> Alavanque os seus resultados, <span class="muted"> Aumente sua produção </span> 
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis leo eu scelerisque congue. Phasellus risus risus, eleifend quis neque vulputate, sagittis adipiscing ante. Etiam aliquam, dolor in viverra pulvinar, diam risus suscipit nibh, ut condimentum neque lectus sed arcu.</p>
			</div>
			<div class = "span6">
			</div>
		</div>
	</div>
</div>
