<% provide(:title, 'Produto') %>
<%= render 'layouts/header' %>
<div class="container" id="spacer">
	</br>
</div>
<div class= "container">
	<div class = "container" id="steps">
		<div class ="row">
			<h1>  Diminua os riscos e aumente sua produção</h1>
			<p> Monitorando em tempo real informações chaves da água, a Vivarium permite
				 que você <span class="highlight">produza mais</span> e com muito
				 <span class="highlight">mais segurança</span></p>
		</div>
		<div class= "row">
			<div class= "span4">
				<%= image_tag "IconSpeed.png", class: "img-circle" %>
				<h1> Esteja Sempre Informado </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconGlove.png", class: "img-circle" %>
				<h1> Combata os riscos </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconReport.png", class: "img-circle" %>
				<h1> Aumente sua produção </h1>
			</div>
		</div>
	</div>
</div>
<div class="feature-shadow dark">
	<div class="container">
		<a name="informed"> </a>
		<div class = "row feature">
			<div class = "span6 feature-text">
				<h1>Monitoramento em tempo real <span class="muted"> para que você Esteja Sempre Informado</span> 
				</h1>
				<p>Nosso produto mede automaticamente níveis de <span class = "highlight"> oxigênio</span>, pH, salinidade e temperatura e transmite tudo isso em tempo real para seu computador e smartphone. </p>
			</div>
			<div class = "span6">
				<%= image_tag "Teste2.jpg", class: "img-square" %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<a name="risks"> </a>
	<div class = "row feature">
		<div class = "span6 ibagem">
			<%= image_tag "iphone_maior.png"%>
		</div>
		<div class = "span6 feature-text">
			<h1>Fique sempre protegido. <span class="muted"> Combata os riscos</span></h1>
			<p>Além de ter acesso a qualidade da água do seu viveiro em tempo real, a Vivarium te avisa se algum parâmetro medido sair do nível selecionado por você.</p>
		</div>
	</div>
</div>
<div class="feature-shadow dark">
	<div class="container">
		<a name="oportunity"> </a>
		<div class = "row feature">
			<div class = "span6">
				<h1> Livre-se das perdas por falta de oxigênio, <span class="muted"> Aumente sua produção </span>
				</h1>
				<p>Com a Vivarium, você será informado em tempo real e poderá corrigir a qualidade da água a tempo, evitando assim, por exemplo, perdas de produção por falta de oxigênio na água. Na imagem ao lado, 400 toneladas de peixe perdidas em viveiro chinês por falta de oxigênio</p>
			</div>
			<div class = "span6">
				<%= image_tag "peixes-mortos-china-rts.JPG", class: "img-square" %>
			</div>
		</div>
	</div>
</div>
