<% provide(:title, 'Produto') %>
<%= render 'layouts/header' %>
<div class="container" id="spacer">
	</br>
</div>
<div class= "container">
	<div class = "container" id="steps">
		<div class ="row">
			<h1> Diminuímos os riscos para que você possa produzir mais.</h1>
			<p> Monitorando em tempo real informações chaves da água, a Vivarium permite
				 que você <span class="highlight">produza mais</span> e com muito
				 <span class="highlight">mais segurança</span></p>
		</div>
		<div class= "row">
			<div class= "span4">
				<%= image_tag "IconSpeed.png", class: "img-circle" %>
				<h1> Esteja Sempre Informado </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconGlove.png", class: "img-circle" %>
				<h1> Combata os riscos </h1>
			</div>
			<div class= "span4">
				<%= image_tag "IconReport.png", class: "img-circle" %>
				<h1> Aumente sua produção </h1>
			</div>
		</div>
	</div>
</div>
<div class="feature-shadow dark">
	<div class="container">
		<div class = "row feature">
			<div class = "span6 feature-text">
				<h1><a name="informed"> Monitoramento em tempo real <span class="muted"> para que você Esteja Sempre Informado</a> </span> 
				</h1>
				<p>Nosso produto mede em tempo real PH, Oxigênio, Salinidade e Temperatura, informações de grande importância para saber se a água do viveiro está em condições em que não há danos ao cultivo. Com sensores de alta qualidade e aviso em tempo real o produto não deixa passar nenhuma alteração brusca nessas propriedades e, quando ocorrer, avisa imediatamente para que possam ser tomadas medidas pra solucionar o problema. </p>
			</div>
			<div class = "span6">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class = "row feature">
		<div class = "span6 image">
			<%= image_tag "peixes-mortos-china-rts.JPG", class: "img-square" %>
		</div>
		<div class = "span6 feature-text">
			<h1><a name="risks"> Fique sempre protegido. <span class="muted"> Combata os riscos</span></a> </h1>
			<p>Todo viveiro está sucetível a perder parte ou até mesmo toda a sua produção devido a alterações bruscas na qualidade da água. Na imagem ao lado, por exemplo, um viveiro na China que perdeu mais de 400 toneladas de peixes devido a problema similar.  Com o nosso produto, você pode saber em tempo real todas as informações necessárias para não correr esse risco e, quando acontecer uma alteração brusca, tomar as medidas necessárias.</p>
		</div>
	</div>
</div>
<div class="feature-shadow dark">
	<div class="container">
		<div class = "row feature">
			<div class = "span6">
				<h1><a name="oportunity"> Alavanque os seus resultados, <span class="muted"> Aumente sua produção </span></a>
				</h1>
				<p>Diminuindo os riscos de produção, pode-se produzir mais por safra, sem medo de perder um número grande de camarões por esse tipo de alteração. Além disso, um viveiro equipado com o nosso produto tem menos necessidade de mão-de-obra pra fazer esse trabalho que será mais preciso e bem realizado pelo equipamento.</p>
			</div>
			<div class = "span6">
			</div>
		</div>
	</div>
</div>
