<footer class="footer">
	<div class="container">
		<div class="row-fluid" id="footer-nav">
			<div class="span12">
				<div class="span3">
					<ul class="unstyled">
						<li><h3>Produto</h3></li>
						<li><%= link_to "Entenda o Produto",'#' %></li>
						<li><%= link_to "Benefícios",'#' %></li>
						<li><%= link_to "Oportunidade",'#'%></li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li><h3>Empresa</h3></li>
						<li><%= link_to "O que fazemos",'#' %></li>
						<li><%= link_to "Aonde queremos chegar",'#'%></li>
						<li><%= link_to "Quem somos",'#' %></li>
					</ul>
				</div>
				<div class="span6">
					<h1>Vivarium</h1>
					<h2>Alavancando a produção agrícola</h2>
				</div>
			</div>
		</div>
	</div>
	<div class= "container-fluid">
			<div class="span4 muted pull-right">
				<p> © 2013 Vivarium. Todos os direitos reservados </p>
			</div>
	</div>
</footer>